body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #83a4d4, #b6fbff);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background:#aadcf5;
  padding: 30px;
  border-radius: 15px;
  width: 100%;
  max-width: 100%;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  color: #333;
}

.Search {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Search input {
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
}

.Search button {
  padding: 10px;
  background-color: #0077b6;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
}

.Search button:hover {
  background-color: #023e8a;
}

.temperature {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 30px;
  color: #333;
  margin: 20px 0;
}

.temperature img {
  width: 150px;
  height: 150px;
background-color: transparent;
}

.Weather {
  display: flex;
  justify-content: center;
  align-items: right;
  margin-bottom: 10px;
  font-size: 20px;
}

.Weather img {
  width: 50px;
  height: 30px;
  margin-right: 10px;
 background-color: #023e8a;
}

.Weather h {
  font-size: 30px;
  color: #555;
}
.row {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  background-color: transparent;
}



.Humidity, .Wind {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Humidity img, .Wind img {
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
}

.Humidity p, .Wind p {
  margin: 2px 0;
  color: #333;
  font-size: 14px;
}

.error {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}
 
.row{
  display: flex;
}



.row.forecast {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: wrap;
}

.row.forecast ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}


.Weather-item {
  background-color:transparent;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 15px 10px;
  width: 100px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.Weather-item:hover {
  transform: translateY(-5px);
}


.Weather-item p:first-of-type {
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}


.Weather-item img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-bottom: 10px;
}

.Weather-item .temperature {
  font-size: 18px;
  font-weight: bold;
  color: #0077b6;
}
